.box-container {
    text-align: center;
    border: 1px solid var(--clr-border);
    border-radius: var(--radius);
    padding: 12px;
    margin-bottom: 10px;
    margin-top: 0.5rem;
    background-color: var(--clr-bg-alt);
}

.color-picker-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.color-button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 0;
    border: .125rem solid var(--clr-bg-alt); 
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.color-button:hover {
    transform: scale(1.1);
}
