.box-container {
    text-align: center;
    border: 1px solid var(--clr-border);
    border-radius: var(--radius);
    padding: 12px;
    margin-bottom: 10px;
    background-color: var(--clr-bg-alt);
}

.color-preview {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid var(--clr-border);
    margin: 5px;
    transition: var(--transition);
}

.color-preview:hover {
    transform: scale(1.1);
    border-color: var(--clr-primary);
}

.color-picker-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.color-button {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    padding: 0;
    border: .125rem solid var(--clr-bg-alt); 
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.color-button:hover {
    transform: scale(1.1);
}
