.item-detail-view {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    padding: 1.25rem;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0 auto;
    justify-content: center; 
    max-width: 70rem;
}

.detail-content-wrapper {
    display: flex;
    gap: 2.5rem;
    width: 100%;
    max-width: 1200px;
    background-color: var(--clr-bg-alt);
    border-radius: var(--radius);
    position: relative;
    padding: 2rem;
    box-shadow: var(--shadow);
}

.detail-image-column {
    flex: 2;
    max-width: 70%;
    text-align: left;
    margin-right: 3rem;
}

.detail-main-img {
    width: 100%;
    max-height: 800px;
    object-fit: contain;
    border-radius: var(--radius);
    }

.detail-info-column {
    flex: 1;
    min-width: 18.75rem;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    -ms-overflow-style: none;
    position: relative;
}
.detail-scrollable-content {
    height: calc(80vh - 20rem);
    overflow-y: auto;
    padding-right: 0.5rem;     
    -ms-overflow-style: none;
    scrollbar-width: .125rem;
}

hr {
    border: none;
    border-bottom: 1px solid var(--clr-border, #ddd);
    margin-top: 0.5rem; 
    margin-bottom: 1rem; 
}

.detail-description {
    line-height: 1.5; 
    color: var(--clr-text, #333); 
    margin-bottom: 1rem; 
}

.price-large {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--clr-text);
    margin: 0;
}

.rating-stars {
    color: var(--clr-accent);
    font-size: 1.2rem;
    margin-top: -0.5rem;
}

.rating-stars span {
    margin-right: 2px;
    font-size: clamp(1.5rem, 2vw, 2.2rem);
    color: gold;
}

.detail-origin-service {
    margin-top: 1rem; 
}

.service-messages {
    list-style: none;
    padding: 0;
}

.service-messages li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

.service-icon {
    color: var(--clr-primary);
}

.add-to-cart-btn{
    padding: '1rem 2rem';
    font-size: '1.1rem';
    margin-top: '0.5rem';
}

.origin-message {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
}

.eu-flag{
    width: 1.5rem;
    height: 1.5rem;
}

.detail-category-material{
    font-size: 16px;
}

.detail-info-column h2.item-card-title {
    font-size: 24px;
    color: var(--clr-text, black);
}

.wishlist-icon-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: var(--clr-bg-light, white);
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease; 
    z-index: 10;
    border: 2px solid transparent; 
}

.wishlist-icon-container:hover {
    transform: scale(1.1);
}

.wishlist-icon {
    color: var(--clr-text-muted, #777); 
    transition: color 0.2s ease;
}

.wishlist-icon-container:hover .wishlist-icon {
    color: #FF69B4;
}



