.item-detail-view {
    display: flex;
    flex-direction: column;
    gap: 2.5rem; 
    padding: 1.25rem;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0 auto;
    justify-content: center; 
    max-width: 70rem;
}

.detail-content-wrapper {
    display: flex;
    gap: 2.5rem;
    width: 100%;
    max-width: 1200px;
    background-color: var(--clr-bg-alt);
    border-radius: var(--radius);
    padding: 2rem;
    box-shadow: var(--shadow);
}

.detail-image-column {
    flex: 2;
    max-width: 70%;
    text-align: left;
}

.detail-main-img {
    width: 100%;
    max-height: 800px;
    object-fit: contain;
    border-radius: var(--radius);
    }

.detail-info-column {
    flex: 1;
    max-height: 80vh;
    overflow-y: scroll;
    min-width: 18.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.detail-info-column::-webkit-scrollbar {
    display: none;
}

.price-large {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--clr-text);
    margin: 0;
}

.rating-stars {
    color: var(--clr-accent);
    font-size: 1.2rem;
    margin-top: -0.5rem;
}

.rating-stars span {
    margin-right: 2px;
    font-size: clamp(1.5rem, 2vw, 2.2rem);
    color: gold;
}

.service-messages {
    list-style: none;
    padding: 0;
}

.service-messages li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

.service-icon {
    color: var(--clr-primary);
}

.add-to-cart-btn{
    padding: '1rem 2rem';
    font-size: '1.1rem';
    margin-top: '0.5rem';
}

.origin-message {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
}

.eu-flag{
    width: 1.5rem;
    height: 1.5rem;
}

.detail-category-material{
    font-size: clamp(.75rem, 1.5vw, 1rem);
}

.detail-info-column h2.item-card-title {
    font-size: clamp(1.25rem, 4vw, 2rem);
}




