.item-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.item-list-container__loading {
    font-size: 1.1rem;
    color: var(--clr-primary-dark);
    margin-top: 2rem;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.no-results {
    text-align: center;
    color: #4b4b4b;
    background-color: #f4f4f4;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}
