.item-card {
  background-color: var(--clr-bg-alt);
  border: 1px solid var(--clr-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  text-align: center;
  overflow: hidden;
  width: 300px;
  padding: 1rem; 
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
  transition: var(--transition);
}
.item-card:hover {
  transform: translateY(-3px);
}

.item-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item-card-content {
  padding: 1rem;
}

.item-card-title {
  font-size: 1.15rem;
  font-weight: bold;
  color: var(--clr-primary-dark);
  margin-bottom: 0.5rem;
}

.item-card-price {
  font-size: 1.2rem;
  color: var(--clr-accent);
  margin-bottom: 1rem;
}

.item-card button {
  background-color: var(--clr-primary);
  color: var(--clr-bg-alt);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
}
.item-card button:hover {
  background-color: var(--clr-primary-dark);
}
