.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: rgb(255, 196, 0);

}

.navbar a {
    text-decoration: none;
}

.navbar-logo {
    justify-self: start;
    margin-left: 1.25rem;
    color: rgb(5, 5, 5);
    margin-top: 4vh;
    cursor: pointer;
} 

.navbar-cart {
    font-size: 1.5625rem;
    margin-right: 1.25rem;
    margin-top: 4vh;
    cursor: pointer;
    text-decoration: none;

}