#root {
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

.card {
  background-color: var(--clr-bg-alt);
  border: 1px solid var(--clr-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 2rem;
  margin-bottom: 2rem;
}
