.profile-main-container {
    max-width: 62.5rem;
    margin: 2rem auto;
    padding: 2rem;
    border: 0.0625rem solid var(--clr-border);
    border-radius: var(--radius);
    position: relative;
    background-color: var(--clr-bg-alt);
    box-shadow: var(--shadow);
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 15.625rem 1fr;
    gap: 1.875rem;
    margin-top: 1.875rem;
}

.sidebar-menu {
    border-right: 0.0625rem solid var(--clr-border);
    padding-right: 1.875rem;
}

.sidebar-menu h4 {
    color: var(--clr-text);
    border-bottom: 0.0625rem solid var(--clr-border);
    padding-bottom: 0.3125rem;
    margin-bottom: 0.625rem;
}

.profile-header-info {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--clr-text);
}

.profile-picture-container {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 0.9375rem auto;
    border: 0.1875rem solid var(--clr-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    width: auto; 
    height: 2.5rem; 
    border-radius: .5rem;
    border: 0.125rem solid var(--clr-border); 
    cursor: pointer;
    position: relative;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.1s ease;
}

.profile-mini-pic {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.0625rem solid var(--clr-primary); 
    z-index: 2; 
}

.nav-icon-link.user-profile-link:hover .profile-icon-wrapper {
    transform: translateY(-0.0625rem); 
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2); 
}

.profile-chevron {
    font-size: 0.875rem; 
    color: var(--clr-text);
    margin-left: 0.10rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-icon-link.user-profile-link:hover .profile-chevron {
    transform: rotate(180deg);
    color: var(--clr-primary);
}

.profile-link {
    display: flex;
    align-items: center;
    padding: 0.625rem;
    text-decoration: none;
    color: var(--clr-text);
    transition: var(--transition);
    border-radius: var(--radius);
    font-size: var(--font-size-base);
}

.profile-link:hover {
    background-color: var(--clr-bg); 
    color: var(--clr-primary);
}

.profile-link svg {
    margin-right: 0.625rem;
}

.main-content h2 {
    color: var(--clr-primary-dark); 
    border-bottom: 0.125rem solid var(--clr-border);
    padding-bottom: 1.5rem;
    margin-bottom: 1.2rem;
}

.content-section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.content-section.notitle {
    padding-top: 1.5rem; 
}

.content-section.title {
    padding-top: 0; 
}

.content-section h3 {
    color: var(--clr-text);
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 1rem;
}

.content-section strong {
    color: var(--clr-primary);
    display: inline-block;
    min-width: 7.5rem;
}

.content-section p {
    margin: 0 0 0.5rem 0;
    color: var(--clr-text);
}

.content-section a {
    color: var(--clr-primary);
    font-size: var(--font-size-base);
    text-decoration: none;
    transition: color 0.2s;
}

.content-section a:hover {
    color: var(--clr-primary-dark);
}

.back-to-home {
    position: absolute;
    top: 0.9375rem;
    left: 0.9375rem;
    text-decoration: none;
    color: var(--clr-primary) !important;
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.back-to-home:hover {
    color: var(--clr-primary-dark) !important;
}

.back-to-home span {
    margin-left: 0.3125rem;
}