.announcement-bar {
    background-color: var(--clr-accent); 
    color: var(--clr-bg-alt); 
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.announcement-content {
    flex-grow: 1; 
    transition: opacity 0.5s ease-in-out; 
}

.announcement-utilities {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-shrink: 0; 
}

.utility-selector {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.utility-selector:hover {
    opacity: 0.8;
}