.login-container {
    max-width: 25rem;
    margin: 2rem auto;
    padding: 2rem;
    border: 0.0625rem solid var(--clr-border);
    border-radius: var(--radius);
    background-color: var(--clr-bg-alt);
    box-shadow: var(--shadow);
}

.login-container h2 {
    text-align: center;
    color: var(--clr-text);
    margin-bottom: 0.9375rem;
}

.login-container label {
    display: block;
    margin-bottom: 0.3125rem;
    font-weight: bold;
    color: var(--clr-text);
}

.login-container input {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.9375rem;
    border: 0.0625rem solid var(--clr-border);
    border-radius: var(--radius);
}

.login-container .btn-sign-in {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--clr-primary);
    color: var(--clr-bg-alt);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: var(--transition);
    margin-bottom: 1rem;
}

.login-container .btn-sign-in:hover {
    background-color: var(--clr-primary-dark);
}

.login-container .login-footer a {
    color: var(--clr-primary); 
    text-decoration: none;
    cursor: pointer;
}

.login-container .login-footer p {
    margin: 0.3125rem 0;
    text-align: center;
    font-size: var(--font-size-small);
    color: var(--clr-text);
}